<div class="login-form">
  <div class="alert alert-danger" role="alert" *ngIf="showError">
    Wrong User
  </div>
  <form>
    <h2 class="text-center">Log in</h2>
    <div class="form-group">
      <input type="text" class="form-control" name="userId" [(ngModel)]="userId" placeholder="Enter User Id"
        required="required">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="userPassword" [(ngModel)]="userPassword" placeholder="Password"
        required="required">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block" (click)="handleLogin()">Log in</button>
    </div>
  </form>
</div>
