$white: #ffffff;
$black: #000000;
$gray_1: #f0f0f0;
$gray_2: #bbbbbb;
$gray_3: #666666;
$gray_4: #333333;
$gray_5: #f8f8f8;
$blue-primary: #063c5f;
$blue-secondary: #446c87;
$orange: #f07e0c;
$red: #f20039;
$bold: bold;
$semi-bold: 700;
$font-size: 28px;
